@page "/"

@inject NavigationManager _navigationManager

<h1>Hello everybody</h1>

<span>Welcome to my tasks management.</span>
<div>
    <button class="btn btn-outline-primary mt-3" @onclick="GoToTasks">
        <span class="oi oi-arrow-right" aria-hidden="true"></span> Go to your tasks
    </button>
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@code{
    private void GoToTasks()
    {
        _navigationManager.NavigateTo("/tasks");
    }
}